## Final Project Submission
* Student name: Sidney Kung
* Student pace: Full Time
* Scheduled project review date/time: 
* Instructor name: Fangfang Lee
* Blog post URL:

## Phase 1 Project
### Microsoft Movie Analysis
(Add picture of Microsoft brand header)

### Business Problem
Microsoft sees all the big companies creating original video content, and they want to get in on the fun. They have decided to create a new movie studio, but the problem is they donâ€™t know anything about creating movies. They have hired you to help them better understand the movie industry. Your team is charged with exploring what type of films are currently doing the best at the box office. You must then translate those findings into actionable insights that the head of Microsoft's new movie studio can use to help decide what type of films to create.

### Overview
This project analyzes ... using ... method ... using .... data.

In [5]:
# importing the necessary pandas and matplotlib libraries

import pandas as pd
import matplotlib as plt

### Understanding the Data
"The Austin Animal Center has the longest running public dataset of animal rescues in the country. Every animal has a unique ID associated with both their intake and outcome data. The data files provide the dates and types of each event, as well as other animal characteristics (e.g. type, sex)."

### Importing the data into the Jupyter Notebook
The canvas reccomends that I start with these datasets:
- imdb.title.basics
- imdb.title.ratings
- bom.movie_gross

In [20]:
# loading imdb.title.basics dataset & setting it to the variable 'df1'
df1 = pd.read_csv('zippedData/imdb.title.basics.csv.gz')

# loading imdb.title.ratings dataset & setting it to the variable 'df2'
df2 = pd.read_csv('zippedData/imdb.title.ratings.csv.gz')

# loading bom.movie_gross dataset & setting it to the variable 'df3'
df3 = pd.read_csv('zippedData/bom.movie_gross.csv.gz')

In [21]:
# viewing first 5 rows of imdb.title.basics
df1.head()

,tconst,primary_title,original_title,start_year,runtime_minutes,genres
0,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama"
1,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"Biography,Drama"
2,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama
3,tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,NaN,"Comedy,Drama"
4,tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy"

In [25]:
# checking how many rows & columns are in imdb.title.basics
df1.shape

(146144, 6)

In [23]:
# viewing first 5 rows of imdb.title.ratings
df2.head()

       tconst  averagerating  numvotes
0  tt10356526            8.3        31
1  tt10384606            8.9       559
2   tt1042974            6.4        20
3   tt1043726            4.2     50352
4   tt1060240            6.5        21

In [24]:
# checking how many rows & columns are in imdb.title.ratings
df2.shape

(73856, 3)

In [26]:
# viewing first 5 rows of bom.movie_gross
df3.head()

,title,studio,domestic_gross,foreign_gross,year
0,Toy Story 3,BV,415000000.0,652000000,2010
1,Alice in Wonderland (2010),BV,334200000.0,691300000,2010
2,Harry Potter and the Deathly Hallows Part 1,WB,296000000.0,664300000,2010
3,Inception,WB,292600000.0,535700000,2010
4,Shrek Forever After,P/DW,238700000.0,513900000,2010

In [28]:
# checking how many rows & columns are in bom.movie_gross
df3.shape

(3387, 5)

## Data Preperation
### Data Cleaning
### Merging Datasets

## Analysis

## Conclusions

## Next Steps
Further analyses could yield additional insights to further improve operations at AAC:

- Better prediction of animals that are likely to have long stays. This modeling could use already available data, such as breed and intake condition.

- Model need for medical support. This modeling could predict the need for specialized personnel to address animals' medical needs, including neutering, using intake condition and sex data.
- Predicting undesirable outcomes. This modeling could identify animals that are more likely to have undesirable outcomes (e.g. Euthanasia) for targeted medical support or outreach.